.crewWrapper {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(150px, auto));
}

.eachCrew {
	display: grid;
	justify-items: center;
}

.eachCrew img {
	width: 100%;
	border-radius: 15%;
}

.eachName {
	display: contents;
}
